strong{
	font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
	font-size:30px;

}

span{	
	text-items: center;
	display: inline-block;
	width: 20;
	
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
	font-family: DeliciousRoman;
    	src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    	font-weight:400;
	}
